#htmlBodyBackground {
  /* html background question */
  background-image: url("../images/questionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto; }

*:focus {
  outline: none !important; }

/* take off blue lines*/
/*<<<<<<<<<<<<<<<<<<<< background >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#cssBodyBackground {
  /* css background question */
  background-image: url("../images/cssQuestionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto; }

#javascriptBodyBackground {
  /* javascript background question */
  background-image: url("../images/javascriptQuestionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto; }

#remove,
#cssRemove,
#javascriptRemove {
  /* to hide input text area*/
  display: none; }

body, html {
  height: 100%;
  font-weight: bold;
  font-size: 1.1rem; }

p,
#message {
  width: auto;
  margin: auto; }

.goHome {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translate(-50%); }
  .goHome_button {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 2em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    padding: 0 32.5px;
    width: auto;
    border-radius: 5px;
    top: 0;
    position: relative;
    /* mixings for changing screns sizes*/ }
    @media only screen and (max-width: 37.5em) {
      .goHome_button {
        font-size: 1rem;
        width: auto; } }
    .goHome_button::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      top: 6px;
      border-radius: 5px;
      height: 65px; }
    .goHome_button:active:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0;
      z-index: 1; }

.nextButton {
  margin: 19.5rem;
  cursor: pointer;
  margin-left: 2px;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 12.8px;
  width: auto;
  border-radius: 2px;
  top: 0;
  position: relative;
  /* mixings for changing screns sizes*/ }
  @media only screen and (max-width: 37.5em) {
    .nextButton {
      margin: auto; } }
  .nextButton:active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    top: -10px;
    left: 0;
    z-index: 1; }
  .nextButton::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    top: 2.4px;
    border-radius: 2px;
    height: 26px; }

.checkingAnswer {
  position: absolute;
  left: 50%;
  top: 20%;
  transform: translate(-50%);
  height: 80px;
  margin: auto; }

.flex {
  display: flex;
  /* mixings for changing screns sizes*/
  margin: auto 1rem; }
  @media only screen and (max-width: 37.5em) {
    .flex {
      width: 100%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: minmax(auto, auto);
      row-gap: 2em; } }

.answer {
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 100%;
  height: 150px;
  /* mixings for changing screns sizes*/ }
  @media only screen and (max-width: 37.5em) {
    .answer {
      margin-top: 1rem;
      grid-column: 1 / 2;
      grid-row: 2 / 3;
      text-size-adjust: auto;
      width: 270px;
      height: auto;
      font-size: 1rem;
      align-self: center; } }
  .answer_textarea {
    width: 95%;
    height: 20rem;
    font-size: 16px;
    /* mixings for changing screns sizes*/ }
    @media only screen and (max-width: 37.5em) {
      .answer_textarea {
        width: 15rem;
        font-size: 16px; } }
  .answer_submit {
    cursor: pointer;
    margin-left: 2px;
    margin-bottom: 5px;
    font-size: 0.8em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    height: 26px;
    line-height: 26px;
    padding: 0 12.8px;
    width: auto;
    border-radius: 2px;
    top: 0;
    position: relative; }
    .answer_submit:active:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0;
      z-index: 1; }
    .answer_submit::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      top: 2.4px;
      border-radius: 2px;
      height: 26px; }
  .answer_displayAnswer {
    width: auto;
    margin: auto;
    height: 20px;
    /* mixings for changing screns sizes*/ }
    @media only screen and (max-width: 37.5em) {
      .answer_displayAnswer {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
        text-size-adjust: auto;
        width: 270px;
        height: auto;
        font-size: 1rem;
        align-self: center; } }
  .answer_nextButton {
    height: 20px; }

.question {
  margin-top: 10rem;
  margin-left: 1rem;
  margin-right: 1rem;
  width: 700px;
  height: 150px;
  /* mixings for changing screns sizes*/ }
  @media only screen and (max-width: 37.5em) {
    .question {
      grid-row: 1 / 2;
      grid-column: 1 / 1;
      margin-top: 8rem;
      text-size-adjust: auto;
      width: auto;
      height: auto;
      font-size: 1rem;
      align-self: center; } }
  .question_display {
    height: 80px;
    margin: auto;
    /* mixings for changing screns sizes*/ }
    @media only screen and (max-width: 37.5em) {
      .question_display {
        grid-row: 1 / 2;
        grid-column: 1 / 1;
        text-size-adjust: auto;
        width: auto;
        height: auto;
        font-size: 1rem;
        align-self: center; } }

.startButton {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%); }
  .startButton_remove {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    font-size: 2em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    padding: 0 32.5px;
    width: auto;
    border-radius: 5px;
    top: 0;
    position: relative; }
    .startButton_remove::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      top: 6px;
      border-radius: 5px;
      height: 65px; }
    .startButton_remove:active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0;
      z-index: 1; }

#bodyBackground {
  /* background for start*/
  position: relative;
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; }

.index {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px; }
  .index_button {
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
    font-size: 2em;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    font-weight: bold;
    height: 65px;
    line-height: 65px;
    padding: 0 32.5px;
    display: inline-block;
    width: auto;
    border-radius: 5px;
    top: 0;
    position: relative;
    /* mixings for changing screns sizes*/ }
    @media only screen and (max-width: 37.5em) {
      .index_button {
        width: 15rem; } }
    .index_button::before {
      display: inline-block;
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      top: 6px;
      border-radius: 5px;
      height: 64px; }
    .index_button:active::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 10px;
      top: -10px;
      left: 0;
      z-index: 1; }

.html {
  color: #e34c26;
  text-shadow: 0 -2px 0 #d6421d, 0 1px 1px #ec6847;
  background: linear-gradient(to bottom, #fc7034 0%, #f0682e 26%, #f35714 100%);
  border-top: 1px solid #fcbbab;
  border-bottom: 1px solid #f7c8bd; }
  .html:visited {
    color: #e34c26; }
  .html:hover {
    background: linear-gradient(to bottom, #fd7d46 0%, #ff783e 26%, #fa692a 100%); }
  .html:active {
    top: 6px;
    text-shadow: 0 -2px 0 #fd8958, 0 1px 1px #fca27c, 0 0 4px white;
    color: #ECEDEE; }
  .html:active::before {
    top: 0;
    box-shadow: 0 3px 3px #69321b, 0 3px 9px #91411f; }
  .html::before {
    background: linear-gradient(to top, #b34719 0%, #c9460e 6px);
    box-shadow: 0 1px 0 2px #531a02, 0 5px 2.4px #6d2203, 0 10.8px 9px #802702; }

.css {
  color: #0C73B8;
  text-shadow: 0 -2px 0 #166ea8, 0 1px 1px #5eaadd;
  background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
  border-top: 1px solid #9cd1e7;
  border-bottom: 1px solid #95d0e9; }
  .css:visited {
    color: #0C73B8; }
  .css:hover {
    background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%); }
  .css:active {
    top: 6px;
    text-shadow: 0 -2px 0 #60a5d3, 0 1px 1px #afd1e7, 0 0 4px white;
    color: #ECEDEE; }
  .css:active::before {
    top: 0;
    box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542; }
  .css::before {
    background: linear-gradient(to top, #244350 0%, #163d4e 6px);
    box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736; }

.javascript {
  color: #E5A228;
  text-shadow: 0 -2px 0 #d6961e, 0 1px 1px #f3b239;
  background: linear-gradient(to bottom, #dfb631 0%, #e8ba26 26%, #e4b51b 100%);
  border-top: 1px solid #f1da8d;
  border-bottom: 1px solid #f0d270; }
  .javascript:visited {
    color: #E5A228; }
  .javascript:hover {
    background: linear-gradient(to bottom, #eec94f 0%, #f0c743 26%, #f1c120 100%); }
  .javascript:active {
    top: 6px;
    text-shadow: 0 -2px 0 #f5d262, 0 1px 1px #f1da8d, 0 0 4px white;
    color: #ECEDEE; }
  .javascript:active::before {
    top: 0;
    box-shadow: 0 3px 3px #473c15, 0 3px 9px #493a08; }
  .javascript::before {
    background: linear-gradient(to top, #5e4904 0%, #755f15 6px);
    box-shadow: 0 1px 0 2px #302502, 0 5px 2.4px #3d310a, 0 10.8px 9px #443810; }

.whiteText {
  display: block;
  color: #070011;
  font-size: 1.5em;
  background: #a7def5;
  border-radius: 5px;
  padding: 0.5rem;
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translate(-50%, -50%);
  /* mixings for changing screns sizes*/ }
  @media only screen and (max-width: 37.5em) {
    .whiteText {
      width: 14rem;
      font-size: 1em;
      left: 50%;
      top: 85%;
      transform: translate(-50%, -50%); } }
  .whiteText:hover {
    display: block;
    color: #a7def5;
    font-size: 1.5em;
    background: #070011;
    border-radius: 5px;
    padding: 0.5rem;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    /* mixings for changing screns sizes*/ }
    @media only screen and (max-width: 37.5em) {
      .whiteText:hover {
        width: 14rem;
        font-size: 1em;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%); } }

.htmlColor {
  color: #e34c26;
  text-shadow: 0 -2px 0 #d6421d, 0 1px 1px #ec6847;
  background: linear-gradient(to bottom, #fc7034 0%, #f0682e 26%, #f35714 100%);
  border-top: 1px solid #fcbbab;
  border-bottom: 1px solid #f7c8bd; }
  .htmlColor:visited {
    color: #e34c26; }
  .htmlColor:hover {
    background: linear-gradient(to bottom, #fd7d46 0%, #ff783e 26%, #fa692a 100%); }
  .htmlColor:active {
    top: 6px;
    text-shadow: 0 -2px 0 #fd8958, 0 1px 1px #fca27c, 0 0 4px white;
    color: #ecedee; }
  .htmlColor:active::before {
    top: 0;
    box-shadow: 0 3px 3px #69321b, 0 3px 9px #91411f; }
  .htmlColor::before {
    background: linear-gradient(to top, #b34719 0%, #c9460e 6px);
    box-shadow: 0 1px 0 2px #531a02, 0 5px 2.4px #6d2203, 0 10.8px 9px #802702; }

.htmlColor1 {
  color: #942f16;
  background: linear-gradient(to bottom, #fc7034 0%, #f0682e 26%, #f35714 100%);
  border-top: 1px solid #fcbbab;
  border-bottom: 1px solid #f7c8bd; }
  .htmlColor1:visited {
    color: #e34c26; }
  .htmlColor1:hover {
    background: linear-gradient(to bottom, #fd7d46 0%, #ff783e 26%, #fa692a 100%); }
  .htmlColor1:active {
    top: 6px;
    text-shadow: 0 -2px 0 #fd8958, 0 1px 1px #fca27c, 0 0 4px white;
    color: #ecedee; }
  .htmlColor1:active::before {
    top: 0;
    box-shadow: 0 3px 3px #69321b, 0 3px 9px #91411f; }
  .htmlColor1::before {
    background: linear-gradient(to top, #b34719 0%, #c9460e 6px);
    box-shadow: 0 1px 0 2px #531a02, 0 5px 2.4px #6d2203, 0 10.8px 9px #802702; }

.javascriptColor {
  color: #E5A228;
  text-shadow: 0 -2px 0 #d6961e, 0 1px 1px #f3b239;
  background: linear-gradient(to bottom, #dfb631 0%, #e8ba26 26%, #e4b51b 100%);
  border-top: 1px solid #f1da8d;
  border-bottom: 1px solid #f0d270; }
  .javascriptColor:visited {
    color: #E5A228; }
  .javascriptColor:hover {
    background: linear-gradient(to bottom, #eec94f 0%, #f0c743 26%, #f1c120 100%); }
  .javascriptColor:active {
    top: 6px;
    text-shadow: 0 -2px 0 #f5d262, 0 1px 1px #f1da8d, 0 0 4px white;
    color: #ECEDEE; }
  .javascriptColor:active::before {
    top: 0;
    box-shadow: 0 3px 3px #473c15, 0 3px 9px #493a08; }
  .javascriptColor::before {
    background: linear-gradient(to top, #5e4904 0%, #755f15 6px);
    box-shadow: 0 1px 0 2px #302502, 0 5px 2.4px #3d310a, 0 10.8px 9px #443810; }

.javascriptColor1 {
  color: #996d1b;
  background: linear-gradient(to bottom, #dfb631 0%, #e8ba26 26%, #e4b51b 100%);
  border-top: 1px solid #f1da8d;
  border-bottom: 1px solid #f0d270; }
  .javascriptColor1:visited {
    color: #E5A228; }
  .javascriptColor1:hover {
    background: linear-gradient(to bottom, #eec94f 0%, #f0c743 26%, #f1c120 100%); }
  .javascriptColor1:active {
    top: 6px;
    text-shadow: 0 -2px 0 #f5d262, 0 1px 1px #f1da8d, 0 0 4px white;
    color: #ECEDEE; }
  .javascriptColor1:active::before {
    top: 0;
    box-shadow: 0 3px 3px #473c15, 0 3px 9px #493a08; }
  .javascriptColor1::before {
    background: linear-gradient(to top, #5e4904 0%, #755f15 6px);
    box-shadow: 0 1px 0 2px #302502, 0 5px 2.4px #3d310a, 0 10.8px 9px #443810; }

.cssColor {
  color: #0C73B8;
  text-shadow: 0 -2px 0 #166ea8, 0 1px 1px #5eaadd;
  background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
  border-top: 1px solid #9cd1e7;
  border-bottom: 1px solid #95d0e9; }
  .cssColor:visited {
    color: #0C73B8; }
  .cssColor:hover {
    background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%); }
  .cssColor:active {
    top: 6px;
    text-shadow: 0 -2px 0 #60a5d3, 0 1px 1px #afd1e7, 0 0 4px white;
    color: #ECEDEE; }
  .cssColor:active::before {
    top: 0;
    box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542; }
  .cssColor::before {
    background: linear-gradient(to top, #244350 0%, #163d4e 6px);
    box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736; }

.cssColor1 {
  color: #074269;
  background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
  border-top: 1px solid #9cd1e7;
  border-bottom: 1px solid #95d0e9; }
  .cssColor1:visited {
    color: #0C73B8; }
  .cssColor1:hover {
    background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%); }
  .cssColor1:active {
    top: 6px;
    text-shadow: 0 -2px 0 #60a5d3, 0 1px 1px #afd1e7, 0 0 4px white;
    color: #ECEDEE; }
  .cssColor1:active::before {
    top: 0;
    box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542; }
  .cssColor1::before {
    background: linear-gradient(to top, #244350 0%, #163d4e 6px);
    box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736; }
