#htmlBodyBackground {
    /* html background question */
    background-image: url("../images/questionBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: auto;
    
  }
  *:focus {outline:none !important} /* take off blue lines*/
/*<<<<<<<<<<<<<<<<<<<< background >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#cssBodyBackground {/* css background question */
  background-image: url("../images/cssQuestionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}

#javascriptBodyBackground {/* javascript background question */
  background-image: url("../images/javascriptQuestionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}

#remove,
#cssRemove,
#javascriptRemove,
#javascriptEs6Remove {/* to hide input text area*/
  display: none;
}



body, html {
  height: 100%;
font-weight: bold;
font-size: 1.1rem;
}

p,
#message /* showing the size of question and answer */
 {
  width: auto;
  margin: auto;

}

@mixin respond($breakpoint) { /* mixings for changing screns sizes*/
  @if $breakpoint == phone {
      @media only screen and (max-width: 37.5em) { @content };    //600px  /*only screen means that apply only to screen , not when printong out*/
  }
  @if $breakpoint == tab-port {
      @media only screen and (max-width: 56.25em) { @content };     //900px
  }
  @if $breakpoint == tab-land {
      @media only screen and (max-width: 75em) { @content };    //1200px
  }
  @if $breakpoint == big-desktop {
      @media only screen and (min-width: 112.5em) { @content };    //1800
  }
}
