.cssColor {
    color: #0C73B8;
    text-shadow: 0 -2px 0 rgb(22, 110, 168), 0 1px 1px rgb(94, 170, 221);
    background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
    border-top: 1px solid #9cd1e7;
    border-bottom: 1px solid #95d0e9;
    &:visited {
        color: #0C73B8;
    }
    &:hover {
        background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%);
    }
    &:active {
        top: 6px;
        text-shadow: 0 -2px 0 rgb(96, 165, 211), 0 1px 1px rgb(175, 209, 231), 0 0 4px white;
        color: #ECEDEE;
    }
    &:active::before {
        top: 0;
        box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542;
    }
    &::before {
        background: linear-gradient(to top, #244350 0%, #163d4e 6px);
        box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736;
    }
  }
  

  .cssColor1 {
    color: rgb(7, 66, 105);
    background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
    border-top: 1px solid #9cd1e7;
    border-bottom: 1px solid #95d0e9;
    &:visited {
        color: #0C73B8;
    }
    &:hover {
        background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%);
    }
    &:active {
        top: 6px;
        text-shadow: 0 -2px 0 rgb(96, 165, 211), 0 1px 1px rgb(175, 209, 231), 0 0 4px white;
        color: #ECEDEE;
    }
    &:active::before {
        top: 0;
        box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542;
    }

    &::before {
        background: linear-gradient(to top, #244350 0%, #163d4e 6px);
        box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736;
    }
  }
  