#bodyBackground { /* background for start*/
    position: relative;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.index{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 600px;
    
    &_button{
        cursor: pointer;
        margin-left: 5px;
        margin-bottom: 15px;
        box-sizing: border-box;
        font-size: 2em;
        font-family: Helvetica, Arial, Sans-Serif;
        text-decoration: none;
        font-weight: bold;
        height: 65px;
        line-height: 65px;
        padding: 0 32.5px;
        display: inline-block;
        width: auto;
        border-radius: 5px;
        top: 0;
        position: relative;
        @include respond(phone) {
            width: 15rem;
          }
          
        
        &::before {
            display: inline-block;
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            z-index: -1;
            top: 6px;
            border-radius: 5px;
            height: 64px;
        }
        &:active::after{
            content: '';
            position: absolute;
            width: 100%;
            height: 10px;
            top: -10px;
            left: 0;
            z-index: 1;
        }
        
        
        

    }
}

.html{
    color: #e34c26;
    text-shadow: 0 -2px 0 #d6421d, 0 1px 1px #ec6847;
    background: linear-gradient(to bottom, #fc7034 0%, #f0682e 26%, #f35714 100%);
    border-top: 1px solid #fcbbab;
    border-bottom: 1px solid #f7c8bd;
    
    &:visited{
        color: #e34c26;
    }
    &:hover {
        background: linear-gradient(to bottom, #fd7d46 0%, #ff783e 26%, #fa692a 100%);
    }
    &:active{
        top: 6px;
        text-shadow: 0 -2px 0 #fd8958, 0 1px 1px #fca27c, 0 0 4px white;
        color: #ECEDEE;
    }
    &:active::before{
        top: 0;
        box-shadow: 0 3px 3px #69321b, 0 3px 9px #91411f;
    }
    &::before{
        background: linear-gradient(to top, #b34719 0%, #c9460e 6px);
        box-shadow: 0 1px 0 2px #531a02, 0 5px 2.4px #6d2203, 0 10.8px 9px #802702;
    }
}
.css{
    color: #0C73B8;
    text-shadow: 0 -2px 0 rgb(22, 110, 168), 0 1px 1px rgb(94, 170, 221);
    background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
    border-top: 1px solid #9cd1e7;
    border-bottom: 1px solid #95d0e9;
    &:visited {
        color: #0C73B8;
    }
    &:hover {
        background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%);
    }
    &:active {
        top: 6px;
        text-shadow: 0 -2px 0 rgb(96, 165, 211), 0 1px 1px rgb(175, 209, 231), 0 0 4px white;
        color: #ECEDEE;
    }
    &:active::before {
        top: 0;
        box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542;
    }
    &::before {
        background: linear-gradient(to top, #244350 0%, #163d4e 6px);
        box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736;
    }
}
.javascript{
    color: #E5A228;
    text-shadow: 0 -2px 0 rgb(214, 150, 30), 0 1px 1px rgb(243, 178, 57);
    background: linear-gradient(to bottom, #dfb631 0%, #e8ba26 26%, #e4b51b 100%);
    border-top: 1px solid #f1da8d;
    border-bottom: 1px solid #f0d270;
    &:visited {
        color: #E5A228;
    }
    &:hover {
        background: linear-gradient(to bottom, #eec94f 0%, #f0c743 26%, #f1c120 100%);
    }
    &:active {
        top: 6px;
        text-shadow: 0 -2px 0 #f5d262, 0 1px 1px #f1da8d, 0 0 4px white;
        color: #ECEDEE;
    }
    &:active::before {
        top: 0;
        box-shadow: 0 3px 3px #473c15, 0 3px 9px #493a08;
    }
    &::before {
        background: linear-gradient(to top, #5e4904 0%, #755f15 6px);
        box-shadow: 0 1px 0 2px #302502, 0 5px 2.4px #3d310a, 0 10.8px 9px #443810;
    }
}
.whiteText{
    display: block;
    color: rgb(7, 0, 17);
    font-size: 1.5em;
    background: #a7def5;
    border-radius: 5px;
    padding:0.5rem;
    position: absolute;
    left: 50%;
    top: 70%;
    transform: translate(-50%, -50%);
    @include respond(phone) {
        width: 14rem;
        font-size: 1em;
        left: 50%;
        top: 85%;
        transform: translate(-50%, -50%);
      }
    &:hover{
        display: block;
        color: #a7def5;
        font-size: 1.5em;
        background: rgb(7, 0, 17);
        border-radius: 5px;
        padding:0.5rem;
        position: absolute;
        left: 50%;
        top: 70%;
        transform: translate(-50%, -50%);
        @include respond(phone) {
            width: 14rem;
            font-size: 1em;
            left: 50%;
            top: 85%;
            transform: translate(-50%, -50%);
          }
    }
}