/*mixins*/

/*pirmers:
@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@include respond(tab-port) {
  width: 100%;
}*/

/*finishmixins*/


/* starting changes to scss. Start with html*/

/*works*/
@import "html";
@import "htmlColors";
@import "javascriptColors";
@import "index";
  

*:focus {outline:none !important} /* take off blue lines*/
/*<<<<<<<<<<<<<<<<<<<< background >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#cssBodyBackground {/* css background question */
  background-image: url("/images/cssQuestionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}
#javascriptBodyBackground {/* javascript background question */
  background-image: url("/images/javascriptQuestionBackground.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: auto;
}
p,
#message /* showing the size of question ans answer */
 {
  width: auto;
  margin: auto;
}





/*<<<<<<<<<<<<<<<<<<<<<<to hide input text area>>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

#remove,
#cssRemove,
#javascriptRemove {/* to hide input text area*/
  display: none;
}


body, html {
  height: 100%;
font-weight: bold;
font-size: 1.1rem;

}





#cssNextButton,
#javascriptNextButton{
  margin: 19.5rem;
}

/*<<<<<<<<<<<<<<<<<<<<<< buttons >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
#cssCheckingAnswer,
#cssShowingAnswer,
#cssElementButton{
  z-index: -1;
}

  



#cssAddedQuestion,
#cssCheckingAnswer,
#javascriptAddedQuestion,
#javascriptCheckingAnswer{
  height: 80px;
  margin: auto;
}

#cssElementButton,
#cssShowingAnswer,
#javascriptElementButton,
#javascriptShowingAnswer{
  height: 20px;
 
}



#javascriptGoHome,
#cssGoHome,
#cssStart,
#javascriptStart {
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 15px;
  font-size: 2em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  font-weight: bold;
  height: 65px;
  line-height: 65px;
  padding: 0 32.5px;
  width: auto;
  border-radius: 5px;
  top: 0;
  position: relative;
}
#javascriptGoHome::before,
#cssGoHome::before,
#cssStart::before,
#javascriptStart::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: 6px;
  border-radius: 5px;
  height: 65px;
}







#javascriptGoHome:active:after,
#cssGoHome:active:after,
#cssStart:active:after,
#javascriptStart:active:after,
#cssStartButton:active:after,
#javascriptStartButton:active:after,
#cssNextButton:active:after,
#javascriptNextButton:active::after{
  content: '';
  position: absolute;
  width: 100%;
  height: 10px;
  top: -10px;
  left: 0;
  z-index: 1;
}






#cssStartButton,
#javascriptStartButton,
#cssNextButton,
#javascriptNextButton {
  cursor: pointer;
  margin-left: 2px;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-family: Helvetica, Arial, Sans-Serif;
  text-decoration: none;
  font-weight: bold;
  height: 26px;
  line-height: 26px;
  padding: 0 12.8px;
  width: auto;
  border-radius: 2px;
  top: 0;
  position: relative;
}



#cssStartButton::before,
#javascriptStartButton::before
#cssNextButton::before,
#javascriptNextButton::before{
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  top: 2.4px;
  border-radius: 2px;
  height: 26px;
}





/*<<<<<<<<<<<<<<<<<<<<<< buttons colors >>>>>>>>>>>>>>>>>>>>>>>>>>>>>*/

















#cssStart,
#cssGoHome{
  color: #0C73B8;
text-shadow: 0 -2px 0 rgb(22, 110, 168), 0 1px 1px rgb(94, 170, 221);
background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
border-top: 1px solid #9cd1e7;
border-bottom: 1px solid #95d0e9;
}
#cssStartButton,
#cssNextButton{
color: rgb(7, 66, 105);
background: linear-gradient(to bottom, #44aad6 0%, #30a9dc 26%, #2399cc 100%);
border-top: 1px solid #9cd1e7;
border-bottom: 1px solid #95d0e9;
}

#cssStart:visited,
#cssStartButton:visited,
#cssNextButton:visited,
#cssGoHome:visited {
  color: #0C73B8;
}


#cssStart:hover,
#cssStartButton:hover,
#cssNextButton:hover,
#cssGoHome:hover {
  background: linear-gradient(to bottom, #66c5ee 0%, #53b8e4 26%, #39b8ee 100%);
}


#cssStart:active,
#cssStartButton:active,
#cssNextButton:active,
#cssGoHome:active {
  top: 6px;
  text-shadow: 0 -2px 0 rgb(96, 165, 211), 0 1px 1px rgb(175, 209, 231), 0 0 4px white;
  color: #ECEDEE;
}

#cssStart:active::before,
#cssStartButton:active::before,
#cssNextButton:active::before,
#cssGoHome:active::before {
  top: 0;
  box-shadow: 0 3px 3px #1c333d, 0 3px 9px #173542;
}


#cssStart::before,
#cssStartButton::before,
#cssNextButton::before,
#cssGoHome::before {
  background: linear-gradient(to top, #244350 0%, #163d4e 6px);
  box-shadow: 0 1px 0 2px #081216, 0 5px 2.4px #040c0f, 0 10.8px 9px #042736;
}






#javascriptStart,
#javascriptGoHome{
  
}
#javascriptStartButton,
#javascriptNextButton{
  
}


#javascriptStart:visited,
#javascriptStartButton:visited,
#javascriptNextButton:visited,
#javascriptGoHome:visited {
  
}

#javascriptStart:hover,
#javascriptStartButton:hover,
#javascriptNextButton:hover,
#javascriptGoHome:hover {
  
}


#javascriptStart:active,
#javascriptStartButton:active,
#javascriptNextButton:active,
#javascriptGoHome:active {

}

#javascriptStart:active::before,
#javascriptStartButton:active::before,
#javascriptNextButton:active::before,
#javascriptGoHome:active::before {
  
}

#javascriptStart::before,
#javascriptStartButton::before,
#javascriptNextButton::before,
#javascriptGoHome::before {
 
}